@charset "UTF-8";
/* CSS Document */

body{
	background-image:url('images/bg2.gif');
	background-repeat:repeat-x;
}

#container{
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-attachment: fixed;
}

footer{
	margin-top:50px;
	margin-bottom:40px;
	height:auto; 
	width:960px;
	float:left;
	position:relative;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 11px; 
	color:#000;
	text-decoration:none;
	border: none;
	letter-spacing:1px;
}

.footerLink{
      font-family:Tahoma, Geneva, sans-serif;
	  font-size: 11px; 
	  color:#1E3D83;
	  text-decoration:none;
	  border: none;
	  letter-spacing:1px;
}

a:hover{
      color:#D4BF91;
	  text-decoration:none;
}


/* Header */

header{
	text-align: left;
	width: 960px;
	height: auto;
}

#logo{
	float:left;
	width:auto;
	height:auto;
	margin-left:14px;
}

nav{
	margin-right: 5px;
	padding-top: 72px;
	float: right;
}

.navLink{
	  font-family:Tahoma, Geneva, sans-serif;
	  font-size: 23px; 
	  color:#000;
	  text-decoration:none;
	  border: none;
	  letter-spacing:1px;
	  text-align:right;
}

/* div 1 */

.div1{
	margin-top: 45px;
	height: auto;
	width: 960px;
	float: left;
	position: relative;
	margin-bottom: 30px;
}

#contentLeft{
	height: 340px;
	width: 315px;
	float: left;
	position: relative;
	padding-left:20px;
}

#quickLink{
	height: 140px;
	width: 315px;
	float: left;
	position: relative;
	padding-bottom:20px;
}

#quickLink2{
	height: 140px;
	width: 315px;
	float: left;
	position: relative;
	padding-top:23px;
}

#image{
	height: 140px;
	width: 140px;
	float: left;
	position: relative;
}

#info{
	height: 140px;
	width: 160px;
	float: right;
	position: relative;
	padding-top:5px;
	padding-left:15px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px; 
	letter-spacing: 1px;
	color:#fff;
}

.quickLink{
      color:#D4BF91;
	  text-decoration:none;
	  border: none;
	  font-family:Tahoma, Geneva, sans-serif;
	  font-size: 17px; 
	  letter-spacing: 1px;
}

a.quickLink:hover{
	  text-decoration:underline;
}

/* div 2*/

.div2{
	margin-top: 5px;
	margin-left:18px;
	height: auto;
	width: 960px;
	float: left;
	position: relative;
}

#aboutOwner{
	height: auto;
	width: 285px;
	float: left;
	position: relative;
	padding-right:35px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px; 
	letter-spacing: 1px;
	color:#000;
}

#aboutCompany{
	height: auto;
	width: 285px;
	float: left;
	position: relative;
	padding-right:35px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px; 
	letter-spacing: 1px;
	color:#000;
}

#youTube{
	height: auto;
	width: 285px;
	float: left;
	position: relative;
	
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 12px; 
	letter-spacing: 1px;
	color:#000;
}

h1{
	  color:#000;
	  text-decoration:none;
	  border: none;
	  font-family:Tahoma, Geneva, sans-serif;
	  font-size: 17px; 
	  letter-spacing: 1px;
}